.scroll-container {
  position: relative;
  overflow: hidden;
}

.scroll-container::before,
.scroll-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px; /* Ширина размытой полосы */
}

.scroll-container::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255, 1));
}

.scroll-container::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
    